.card {
  width: 20%;
  padding: 10px;
  float: left;
  margin: 10px;
}

.container {
  border: 2px solid black;
  padding: 30px;
  margin: auto;
  overflow: auto;
  width: 1000px;
}

.capitalize {
  text-transform: capitalize;
}
